extends layout

block content
  h1 File Upload
  if (image)
    img(src=image width="800px" height="auto")
  form(method='POST' action='/upload' enctype='multipart/form-data')
    fieldset
        label(for='upload') Upload
        input(type='file' name='upload')
    fieldset
        label(for='title')
        input(name='title')
    input(type='submit' value='Submit')